<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세페이지</title>
</head>
<body>
    <h1>{{ post.content }}</h1> 
    <p>작성자 - {{ post.writer }}</p>
    <p>작성일 - {{ post.created_at }}</p>

    {% if post.image %}
        <img src="{{ post.image.url }}" alt = "Post Image">
    {% else %}
        <p>이미지가 없습니다.</p>
    {% endif %}
</body>
<form action="{% url 'posts:comment-create' post.id %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">댓글 작성</button>
</form>

{% for comment in post.comment_set.all %}
    <p>{{ comment.writer }} : {{ comment.content }}</p>
    <a href="{% url 'posts:comment-update' post.id comment.id %}">수정</a>
{% endfor %}
</html>