<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🦁 자기소개 — 경세빈</title>
    <link rel="stylesheet" href="mypage.css" />
</head>
<body>
    <div class="container">
        <header>
            <img src="./images/icon.svg"/>
            <h2><span>자기소개</span></h2>
            <img src="./images/profile.jpg" class="profile-img" alt="profile" />
        </header>
 
        <div class="info">
            <div class="info-item">
                <span class="label">이름</span>
                <span class="value">경세빈</span>
            </div>
            <div class="info-item">
                <span class="label">닉네임</span>
                <span class="value">셉</span>
            </div>
            <div class="info-item">
                <span class="label">나이</span>
                <span class="value">25세</span>
            </div>
            <div class="info-item">
                <span class="label">전공</span>
                <span class="value">컴퓨터과학</span>
            </div>
            <div class="info-item">
                <span class="label">MBTI</span>
                <span class="value">ISTJ</span>
            </div>
        </div>

        <button class="btn" type="button" onclick="checkEdit()">수정하기</button>
    </div>
 
    <script src="mypage.js"></script>
</body>
</html>